@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
:root {
  --primary-color: #1d1f29;
  --secondary-color: #49566d;
  --tertiary-color: #fff;
  --fourth-color: #8c98c6;
  --fifth-color: #252b42;
  --sixth-color: #dc414c;
  --seventh-color: #1eb589;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #20222f;
  font-family: "Inter", sans-serif;
}

.header .cont {
  display: flex;
  justify-content: space-between;
  margin: 20px 80px;
}
.header .cont .logo {
  line-height: 0.1rem;
}
.header .cont .logo h2 {
  font-size: 30px;
  color: var(--tertiary-color);
}
.header .cont .logo p {
  color: var(--fourth-color);
}
.header .btn {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.header .btn p {
  color: var(--fourth-color);
}
.header .btn svg {
  position: relative;
  top: 14px;
}

.main {
  padding: 20px;
}
.main .sec-1 {
  display: flex;
  justify-content: space-evenly;
}
.main .sec-1 .box_1 {
  border-top: #178ff5;
  border-style: solid;
  background-color: var(--fifth-color);
  padding: 70px;
  width: 255px;
  color: var(--fifth-color);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.main .sec-1 .box_1 .fcbook {
  display: flex;
  gap: 20px;
  position: relative;
  top: -25px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.main .sec-1 .box_1 .fcbook p {
  margin: 0 0;
  color: #8c98c6;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.main .sec-1 .box_1 .fctext {
  line-height: 8px; /* 85.714% */
}
.main .sec-1 .box_1 .fctext span {
  color: #fff;
  font-family: Inter;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}
.main .sec-1 .box_1 .fctext p {
  letter-spacing: 8px;
  font-size: 22px;
  color: var(--fourth-color);
}
.main .sec-1 .box_1 .fctext2 {
  display: flex;
  gap: 10px;
  position: relative;
  top: 30px;
}
.main .sec-1 .box_1 .fctext2 svg {
  position: relative;
  top: 27px;
}
.main .sec-1 .box_1 .fctext2 p {
  font-size: 22px;
  color: #1eb589;
}
.main .sec-1 .box_1 .fctext2 :hover {
  background-color: var(--sixth-color);
}
.main .sec-1 .box_2 {
  border-top: #1da1f2;
  border-style: solid;
  background-color: var(--fifth-color);
  padding: 70px;
  width: 255px;
  color: var(--fifth-color);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main .sec-1 .box_2 .twitter {
  display: flex;
  gap: 20px;
  position: relative;
  top: -25px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.main .sec-1 .box_2 .twitter p {
  margin: 0 0;
  color: #8c98c6;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.main .sec-1 .box_2 .twitext {
  line-height: 8px; /* 85.714% */
}
.main .sec-1 .box_2 .twitext span {
  color: #fff;
  font-family: Inter;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}
.main .sec-1 .box_2 .twitext p {
  letter-spacing: 8px;
  font-size: 22px;
  color: var(--fourth-color);
}
.main .sec-1 .box_2 .twitext2 {
  display: flex;
  gap: 10px;
  position: relative;
  top: 30px;
}
.main .sec-1 .box_2 .twitext2 svg {
  position: relative;
  top: 27px;
}
.main .sec-1 .box_2 .twitext2 p {
  font-size: 22px;
  color: #1eb589;
}
.main .sec-1 .box_3 {
  border-top: var("#DF4896, #EE877E, #FDC366");
  border-style: solid;
  background-color: var(--fifth-color);
  padding: 70px;
  width: 255px;
  color: var(--fifth-color);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main .sec-1 .box_3 .insta {
  display: flex;
  gap: 20px;
  position: relative;
  top: -25px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.main .sec-1 .box_3 .insta p {
  margin: 0 0;
  color: #8c98c6;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.main .sec-1 .box_3 .instatext {
  line-height: 8px; /* 85.714% */
}
.main .sec-1 .box_3 .instatext span {
  color: #fff;
  font-family: Inter;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}
.main .sec-1 .box_3 .instatext p {
  letter-spacing: 8px;
  font-size: 22px;
  color: var(--fourth-color);
}
.main .sec-1 .box_3 .instatext2 {
  display: flex;
  gap: 10px;
  position: relative;
  top: 30px;
}
.main .sec-1 .box_3 .instatext2 svg {
  position: relative;
  top: 27px;
}
.main .sec-1 .box_3 .instatext2 p {
  font-size: 22px;
  color: #1eb589;
}
.main .sec-1 .box_4 {
  border-top: #c4032b;
  border-style: solid;
  background-color: var(--fifth-color);
  padding: 70px;
  width: 255px;
  color: var(--fifth-color);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main .sec-1 .box_4 .youtube {
  display: flex;
  gap: 20px;
  position: relative;
  top: -25px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.main .sec-1 .box_4 .youtube p {
  margin: 0 0;
  color: #8c98c6;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.main .sec-1 .box_4 .youtext {
  line-height: 8px; /* 85.714% */
}
.main .sec-1 .box_4 .youtext span {
  color: #fff;
  font-family: Inter;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}
.main .sec-1 .box_4 .youtext p {
  letter-spacing: 8px;
  font-size: 22px;
  color: var(--fourth-color);
}
.main .sec-1 .box_4 .youtext2 {
  display: flex;
  gap: 10px;
  position: relative;
  top: 30px;
}
.main .sec-1 .box_4 .youtext2 svg {
  position: relative;
  top: 27px;
}
.main .sec-1 .box_4 .youtext2 p {
  font-size: 22px;
  color: #dc414c;
}
.main .sec-2 .header2 {
  display: flex;
  justify-content: left;
  color: #fff;
  margin: 20px 80px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 30px;
}
.main .sec-2 .set1 .fcset1 {
  padding: 70px;
  width: 255px;
  background-color: var(--fifth-color);
}
.main .sec-2 .set1 .fcset1 .span1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}
.main .sec-2 .set1 .fcset1 .span1 span {
  color: var(--fourth-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .fcset1 .span1 .div1 {
  display: flex;
  justify-content: space-between;
}
.main .sec-2 .set1 .fcset1 .span2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.main .sec-2 .set1 .fcset1 .span2 span {
  color: #fff;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .fcset1 .span2 .div2 {
  display: flex;
  position: relative;
  gap: 10px;
}
.main .sec-2 .set1 .fcset1 .span2 .div2 svg {
  position: relative;
  top: 25px;
}
.main .sec-2 .set1 .fcset1 .span2 .div2 p {
  color: #1eb589;
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .fcset2 {
  padding: 70px;
  width: 255px;
  background-color: var(--fifth-color);
}
.main .sec-2 .set1 .fcset2 .span3-1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}
.main .sec-2 .set1 .fcset2 .span3-1 span {
  color: var(--fourth-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .fcset2 .span3-1 .div3-1 {
  display: flex;
  justify-content: space-between;
}
.main .sec-2 .set1 .fcset2 .span4-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.main .sec-2 .set1 .fcset2 .span4-2 span {
  color: #fff;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .fcset2 .span4-2 .div4-2 {
  display: flex;
  position: relative;
  gap: 10px;
}
.main .sec-2 .set1 .fcset2 .span4-2 .div4-2 svg {
  position: relative;
  top: 25px;
}
.main .sec-2 .set1 .fcset2 .span4-2 .div4-2 p {
  color: #dc414c;
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .instaset3 {
  padding: 70px;
  width: 255px;
  background-color: var(--fifth-color);
}
.main .sec-2 .set1 .instaset3 .span5-1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}
.main .sec-2 .set1 .instaset3 .span5-1 span {
  color: var(--fourth-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .instaset3 .span5-1 .div5-1 {
  display: flex;
  justify-content: space-between;
}
.main .sec-2 .set1 .instaset3 .span6-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.main .sec-2 .set1 .instaset3 .span6-2 span {
  color: #fff;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .instaset3 .span6-2 .div6-2 {
  display: flex;
  position: relative;
  gap: 10px;
}
.main .sec-2 .set1 .instaset3 .span6-2 .div6-2 svg {
  position: relative;
  top: 25px;
}
.main .sec-2 .set1 .instaset3 .span6-2 .div6-2 p {
  color: #1eb589;
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .instaset4 {
  padding: 70px;
  width: 255px;
  background-color: var(--fifth-color);
}
.main .sec-2 .set1 .instaset4 .span7-1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}
.main .sec-2 .set1 .instaset4 .span7-1 span {
  color: var(--fourth-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .instaset4 .span7-1 .div7-1 {
  display: flex;
  justify-content: space-between;
}
.main .sec-2 .set1 .instaset4 .span8-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.main .sec-2 .set1 .instaset4 .span8-2 span {
  color: #fff;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .sec-2 .set1 .instaset4 .span8-2 .div8-2 {
  display: flex;
  position: relative;
  gap: 10px;
}
.main .sec-2 .set1 .instaset4 .span8-2 .div8-2 svg {
  position: relative;
  top: 25px;
}
.main .sec-2 .set1 .instaset4 .span8-2 .div8-2 p {
  color: #1eb589;
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 {
  display: flex;
  justify-content: space-evenly;
}
.main .set2 .twiset1 {
  padding: 70px;
  width: 255px;
  background-color: var(--fifth-color);
}
.main .set2 .twiset1 .span1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}
.main .set2 .twiset1 .span1 span {
  color: var(--fourth-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .twiset1 .span1 .div1 {
  display: flex;
  justify-content: space-between;
}
.main .set2 .twiset1 .span2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.main .set2 .twiset1 .span2 span {
  color: #fff;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .twiset1 .span2 .div2 {
  display: flex;
  position: relative;
  gap: 10px;
}
.main .set2 .twiset1 .span2 .div2 svg {
  position: relative;
  top: 25px;
}
.main .set2 .twiset1 .span2 .div2 p {
  color: #1eb589;
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .twiset2 {
  padding: 70px;
  width: 255px;
  background-color: var(--fifth-color);
}
.main .set2 .twiset2 .span9-1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}
.main .set2 .twiset2 .span9-1 span {
  color: var(--fourth-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .twiset2 .span9-1 .div1 {
  display: flex;
  justify-content: space-between;
}
.main .set2 .twiset2 .span9-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.main .set2 .twiset2 .span9-2 span {
  color: #fff;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .twiset2 .span9-2 .div2 {
  display: flex;
  position: relative;
  gap: 10px;
}
.main .set2 .twiset2 .span9-2 .div2 svg {
  position: relative;
  top: 25px;
}
.main .set2 .twiset2 .span9-2 .div2 p {
  color: #1eb589;
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .youset3 {
  padding: 70px;
  width: 255px;
  background-color: var(--fifth-color);
}
.main .set2 .youset3 .span10-1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}
.main .set2 .youset3 .span10-1 span {
  color: var(--fourth-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .youset3 .span10-1 .div1 {
  display: flex;
  justify-content: space-between;
}
.main .set2 .youset3 .span10-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.main .set2 .youset3 .span10-2 span {
  color: #fff;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .youset3 .span10-2 .div2 {
  display: flex;
  position: relative;
  gap: 10px;
}
.main .set2 .youset3 .span10-2 .div2 svg {
  position: relative;
  top: 25px;
}
.main .set2 .youset3 .span10-2 .div2 p {
  color: var(--sixth-color);
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .youset4 {
  padding: 70px;
  width: 255px;
  background-color: var(--fifth-color);
}
.main .set2 .youset4 .span11-1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}
.main .set2 .youset4 .span11-1 span {
  color: var(--fourth-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .youset4 .span11-1 .div1 {
  display: flex;
  justify-content: space-between;
}
.main .set2 .youset4 .span11-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
.main .set2 .youset4 .span11-2 span {
  color: #fff;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .set2 .youset4 .span11-2 .div2 {
  display: flex;
  position: relative;
  gap: 10px;
}
.main .set2 .youset4 .span11-2 .div2 svg {
  position: relative;
  top: 25px;
}
.main .set2 .youset4 .span11-2 .div2 p {
  color: var(--sixth-color);
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 840px) {
  html,
  body {
    width: 768px;
    background-color: red;
  }
  .header .cont {
    flex-direction: column;
    margin: 20px 30px;
  }
  .header .btn {
    position: relative;
    top: 20px;
    gap: 270px;
    justify-content: left;
  }
  .main .sec-1 {
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 10px;
  }
  .main .sec-2 .header2 {
    margin: 20px 20px;
  }
  .main .sec-2 .set1 {
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 10px;
  }
  .main .sec-2 .set2 {
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 10px;
  }
}/*# sourceMappingURL=design.css.map */