@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

:root {
  --primary-color: #1d1f29;
  --secondary-color: #49566d;
  --tertiary-color: #fff;
  --fourth-color: #8c98c6;
  --fifth-color: #252b42;
  --sixth-color: #dc414c;
  --seventh-color: #1eb589;
  --height-color: #F1F3FA;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif;
}

.dark-mode {
  --tertiary-color: #1d1f29;
  --primary-color: #fff;
}
.grey-mode {
  --fifth-color: #F1F3FA; 
  --fourth-color: #252b42;
}

.header {
  .cont {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    .logo {
      line-height: 0.1rem;
      h2 {
        font-size: 30px;
        color: var(--tertiary-color);
      }
      p {
        color: var(--fourth-color);
      }
    }

    .btn {
    display: flex;
    justify-content: space-around;
    gap: 30px;

    p {
      color: var(--fourth-color);
    }
    .theme-toggle {
      position: relative;
      top: -7px;
      cursor: pointer;
      background: none;
      border: none;
    }
  }
  }


}

.main {
  // FIRST-SECTION

  padding: 20px;
  .sec-1 {
    // background-color: #178ff5;
    display: flex;
    justify-content: space-evenly;

    .box_1 {
      // border: red;
      border-top: #178ff5;
      border-style: solid;
      background-color: var(--fifth-color);
      width: 255px;
      height: 216px;
      color: var(--fifth-color);
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;

      .fcbook {
        display: flex;
        gap: 20px;
        position: relative;
        justify-content: space-between;
        margin: 10px 0 50px 0;

        p {
          margin: 0 0;
          color: #8c98c6;
          font-family: Inter;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          // line-height: normal;
        }
      }

      .fctext {
        line-height: 8px; /* 85.714% */
        span {
          color: var(--tertiary-color);
          //   text-align: center;
          font-family: Inter;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: 2px;
        }
        p {
          letter-spacing: 5px;
          font-size: 15px;
          color: var(--fourth-color);
        }
      }

      .fctext2 {
        // background-color: red;
        display: flex;
        gap: 10px;
        position: relative;
        top: 10px;
        svg {
          position: relative;
          top: 15px;
        }
        p {
          font-size: 15px;
          color: #1eb589;
        }
      }
      // :hover {
      //   background-color: var(--sixth-color);
      //   transition: 5ms;
      // }
    }

    .box_2 {
      border-top: #1da1f2;
      border-style: solid;
      background-color: var(--fifth-color);
      width: 255px;
      height: 216px;
      color: var(--fifth-color);
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;

      .twitter {
        display: flex;
        gap: 20px;
        position: relative;
        justify-content: space-between;
        margin: 10px 0 50px 0;

        p {
          margin: 0 0;
          color: #8c98c6;
          font-family: Inter;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          // line-height: normal;
        }
      }

      .twitext {
        line-height: 8px; /* 85.714% */
        span {
          color: var(--tertiary-color);
          //   text-align: center;
          font-family: Inter;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: 2px;
        }
        p {
          letter-spacing: 5px;
          font-size: 15px;
          color: var(--fourth-color);
        }
      }

      .twitext2 {
        // background-color: red;
        display: flex;
        gap: 10px;
        position: relative;
        top: 10px;
        svg {
          position: relative;
          top: 15px;
        }
        p {
          font-size: 15px;
          color: #1eb589;
        }
      }
    }

    .box_3 {
      border-top: #fdc366;
      border-style: solid;
      background-color: var(--fifth-color);
      // padding: 10px;
      width: 255px;
      height: 216px;
      color: var(--fifth-color);
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .insta {
        display: flex;
        gap: 20px;
        position: relative;
        justify-content: space-between;
        margin: 10px 0 50px 0;
        p {
          margin: 0 0;
          color: #8c98c6;
          font-family: Inter;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
        }
      }

      .instatext {
        line-height: 8px; /* 85.714% */
        span {
          color: var(--tertiary-color);
          font-family: Inter;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: 2px;
        }
        p {
          letter-spacing: 5px;
          font-size: 15px;
          color: var(--fourth-color);
        }
      }

      .instatext2 {
        // background-color: red;
        display: flex;
        gap: 10px;
        position: relative;
        top: 10px;
        svg {
          position: relative;
          top: 15px;
        }
        p {
          font-size: 15px;
          color: #1eb589;
        }
      }
    }

    .box_4 {
      border-top: #c4032b;
      border-style: solid;
      background-color: var(--fifth-color);
      // padding: 10px;
      width: 255px;
      height: 216px;
      color: var(--fifth-color);
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .youtube {
        display: flex;
        gap: 20px;
        position: relative;
        justify-content: space-between;
        margin: 10px 0 50px 0;
        p {
          margin: 0 0;
          color: #8c98c6;
          font-family: Inter;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
        }
      }

      .youtext {
        line-height: 8px; /* 85.714% */
        span {
          color:var(--tertiary-color);
          font-family: Inter;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: 2px;
        }
        p {
          letter-spacing: 5px;
          font-size: 15px;
          color: var(--fourth-color);
        }
      }

      .youtext2 {
        // background-color: red;
        display: flex;
        gap: 10px;
        position: relative;
        top: 10px;
        svg {
          position: relative;
          top: 15px;
        }
        p {
          font-size: 15px;
          color: #dc414c;
        }
      }
    }
  }

  //   SECOND-SECTION

  .sec-2 {
    // background-color: red;

    .header2 {
      display: flex;
      justify-content: left;
      color: var(--tertiary-color);
      margin: 20px 40px;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .set1 {
      display: flex;
      justify-content: space-evenly;
      position: relative;
      bottom: 30px;

      //  FACEBOOK1
      .fcset1 {
        width: 255px;
        height: 125px;
        background-color: var(--fifth-color);

        .span1 {
          display: flex;
          position: relative;
          top: 20px;
          justify-content: space-around;
          gap: 100px;
          span {
            color: var(--fourth-color);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .div1 {
            display: flex;
            justify-content: space-between;
          }
        }

        .span2 {
          display: flex;
          justify-content: space-around;
          gap: 100px;
          position: relative;
          top: 50px;
          span {
            color: var(--tertiary-color);
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .div2 {
            display: flex;
            position: relative;
            gap: 10px;
            svg {
              position: relative;
              top: 12px;
            }

            p {
              color: #1eb589;
              text-align: right;
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }

      //  FACEBOOK2
      .fcset2 {
        // padding: 20px;
        height: 125px;
        width: 255px;
        background-color: var(--fifth-color);

        .span3-1 {
          display: flex;
          justify-content: space-around;
          position: relative;
          gap: 100px;
          top: 20px;
          span {
            color: var(--fourth-color);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .div3-1 {
            display: flex;
            justify-content: space-between;
          }
        }

        .span4-2 {
          display: flex;
          justify-content: space-around;
          gap: 100px;
          position: relative;
          top: 50px;
          span {
            color: var(--tertiary-color);
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .div4-2 {
            display: flex;
            position: relative;
            gap: 10px;
            svg {
              position: relative;
              top: 12px;
            }

            p {
              color: #dc414c;
              text-align: right;
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }

      //    INSTAGRAM1
      .instaset3 {
        height: 125px;
        width: 255px;
        background-color: var(--fifth-color);

        .span5-1 {
          display: flex;
          justify-content: space-around;
          gap: 100px;
          position: relative;
          top: 20px;
          span {
            color: var(--fourth-color);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .div5-1 {
            display: flex;
            justify-content: space-between;
          }
        }

        .span6-2 {
          display: flex;
          justify-content: space-around;
          gap: 20px;
          position: relative;
          top: 50px;
          span {
            color: var(--tertiary-color);
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .div6-2 {
            display: flex;
            position: relative;
            gap: 10px;
            svg {
              position: relative;
              top: 12px;
            }

            p {
              color: #1eb589;
              text-align: right;
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }

      //    INSTAGRAM2
      .instaset4 {
        height: 125px;
        width: 255px;
        background-color: var(--fifth-color);

        .span7-1 {
          display: flex;
          justify-content: space-around;
          gap: 50px;
          position: relative;
          top: 20px;
          span {
            color: var(--fourth-color);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .div7-1 {
            display: flex;
            justify-content: space-between;
          }
        }

        .span8-2 {
          display: flex;
          justify-content: space-around;
          position: relative;
          gap: 50px;
          top: 50px;
          span {
            color: var(--tertiary-color);
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .div8-2 {
            display: flex;
            position: relative;
            gap: 10px;
            svg {
              position: relative;
              top: 12px;
            }

            p {
              color: #1eb589;
              text-align: right;
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
  }

  //   SECOND-SET
  .set2 {
    display: flex;
    justify-content: space-evenly;

    //  TWITTER1
    .twiset1 {
      width: 255px;
      height: 125px;
      background-color: var(--fifth-color);

      .span1 {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        position: relative;
        top: 20px;
        span {
          color: var(--fourth-color);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .div1 {
          display: flex;
          justify-content: space-between;
        }
      }

      .span2 {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        position: relative;
        top: 50px;
        span {
          color: var(--tertiary-color);
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .div2 {
          display: flex;
          position: relative;
          gap: 10px;
          svg {
            position: relative;
            top: 12px;
          }

          p {
            color: #1eb589;
            text-align: right;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }

    //    TWITTER2
    .twiset2 {
      width: 255px;
      height: 125px;
      background-color: var(--fifth-color);

      .span9-1 {
        display: flex;
        position: relative;
        top: 20px;
        justify-content: space-around;
        gap: 100px;
        span {
          color: var(--fourth-color);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .div1 {
          display: flex;
          justify-content: space-between;
        }
      }

      .span9-2 {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        position: relative;
        top: 50px;
        span {
          color: var(--tertiary-color);
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .div2 {
          display: flex;
          position: relative;
          gap: 10px;
          svg {
            position: relative;
            top: 12px;
          }

          p {
            color: #1eb589;
            text-align: right;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }

    //    YOUTUBE
    .youset3 {
      height: 125px;
      width: 255px;
      background-color: var(--fifth-color);

      .span10-1 {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 20px;
        gap: 100px;
        span {
          color: var(--fourth-color);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .div1 {
          display: flex;
          justify-content: space-between;
        }
      }

      .span10-2 {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        position: relative;
        top: 50px;
        span {
          color: var(--tertiary-color);
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .div2 {
          display: flex;
          position: relative;
          gap: 10px;
          svg {
            position: relative;
            top: 12px;
          }

          p {
            color: var(--sixth-color);
            text-align: right;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }

    //    YOUTUBE2
    .youset4 {
      height: 125px;
      width: 255px;
      background-color: var(--fifth-color);

      .span11-1 {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        position: relative;
        top: 20px;
        span {
          color: var(--fourth-color);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .div1 {
          display: flex;
          justify-content: space-between;
        }
      }

      .span11-2 {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        position: relative;
        top: 50px;
        span {
          color: var(--tertiary-color);
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .div2 {
          display: flex;
          position: relative;
          gap: 10px;
          svg {
            position: relative;
            top: 12px;
          }

          p {
            color: var(--sixth-color);
            text-align: right;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            position: relative;
            // top: 5px;
          }
        }
      }
    }
  }
}

// MOBILE-VERSION

$background-color_1: red; 

@media screen and (max-width: 375px) {
  html,
  body {
    width: 100%;
    // background-color: $background-color_1;
  }

  .header {
    .cont {
      flex-direction: column;
      margin: 20px 0;
      .logo {
        // background-color: black;
        width: 120%;
        position: relative;
        right: 25px;

        h2 {
          font-size: 24px;
        }
      }
    }

    .btn {
      
      position: relative;
      top: 20px;
      width: 120%;
      right: 60px;

      .theme-toggle{
        
        svg {
          position: relative;
          top: 7px;
          left: 80px;
        }
      }
    }
  }

  .main {
    .sec-1 {
      flex-direction: column;
      gap: 20px;
      position: relative;
      left: 50px;
    }

    .sec-2 {
      .header2 {
        // margin: 20px 20px;
        font-size: 23px; 
        width: 310px;
      // $background-color_1: red; 


// @media screen and (max-width: 560px) {
//   html,
//   body {
//     width: 100%;
//     // background-color: $background-color_1;
//   }

//   .header {
//     .cont {
//       flex-direction: column;
//       margin: 20px 30px;
//     }

//     .btn {
//       position: relative;
//       top: 20px;
//       gap: 270px;
//       justify-content: left;
//     }
//   }

//   .main {
//     .sec-1 {
//       flex-direction: column;
//       gap: 20px;
//       position: relative;
//       left: 100px;
//     }

//     .sec-2 {
//       .header2 {
//         margin: 20px 20px;
//       }

//       .set1 {
//         flex-direction: column;
//         gap: 20px;
//         position: relative;
//         left: 100px;
//       }

//       .set2 {
//         flex-direction: column;
//         gap: 20px;
//         position: relative;
//         left: 100px;
